body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
}

#board {
    display: block;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
}

